
/*-----------------------------------------------------------------CARDS------------------------------------------------------------*/

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    padding: 20px;
    grid-gap: 40px;
    margin-bottom: 6%;
}
.card{
    background-color: #1c1b29;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
}
.container{
    position: relative;
    clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
}
.container img{
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
}
.container:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    opacity: 0.7;
}

.details{
    padding: 20px 10px;
}
.details>h3{
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    margin: 10px 0 15px 0;
}
.details>p{
    color: #a0a0a0;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
}

.cards a{
    text-decoration: none;
    color: #2fa1c7;
}

/*-------------------------------------------------------info----------------------------------------------------------------------*/

.intro{
    background-color: #2b2b3d;
    padding: 1em;
    overflow: hidden;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-bottom: 5%;
}

.titulo{
    margin: 1em;
    padding: 1em;
    width: 50%;
}

.video{
    margin: 1em;
    padding: 1em;
    width: 50%;
}


.titulo h1,p{
    color: #ffffff;
}

.titulo h1{
    font-size: 2.5em;
}

.titulo p{
    font-size: 18px;
}

.plan a{
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
   
}

.plan{
    width: 35%;
    height: 35px;
    text-align: center;
    background-color: #98CA3F;
    padding-top: 15px;
}

@media screen and (max-width: 1024px){
    .plan{
        height: 40px;
    }
}

@media screen and (max-width: 779px){
    .plan{
        width: 40%;
    }
}

@media screen and (max-width: 739px){
    
    .intro{
        flex-direction: column;
    }
    .titulo{
        width: 100%;
        text-align: center;
       
    }

    .video{
        width: 100%;
        text-align: center;
    }

    .plan{
        width: 35%;
        padding-top: 17px;
        margin-left: 32.5%;
        margin-right: 32.5%;
    }


}
























































